<launch>
  	<!-- start up wg world--> 
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	</include>

  	<arg name="model" default="$(find car_description)/urdf/car.xacro"/>
  	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -z 0.1 -model car" respawn="false" output="screen" />




  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find car_description)/config/car_control.yaml" command="load"/>

  <!-- load the controllers -->
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/car" args=" 
joint_state_controller 
BackWheel_left_velocity_controller 
BackWheel_right_velocity_controller
Turner_right_position_controller 
Turner_left_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/car/joint_states" />
  </node>


</launch>
