<launch>
	<!--car-weights-->
	<param name="linear_weight_speed" type="double" value="1" />
	<param name="angular_weight_position" type="double" value="1" />
	<!--car-limits-->
	<param name="linear_max_speed" type="double" value="3.0" />
	<!--FOR TF-->
  	<param name="linear_wheel_speed" type="double" value="0" />
	<param name="angular_wheel_position" type="double" value="0" />
	<!--FOR unknown reasons-->
	<param name="meter_scoring" type="bool" value="true" />
</launch>
