<?xml version="1.0"?>
<launch>
  <!-- base_local_planner/TrajectoryPlannerROS, dwa_local_planner/DWAPlannerROS, pose_follower/PoseFollower, teb_local_planner/TebLocalPlannerROS -->
  <arg name="local_planner" default="teb_local_planner/TebLocalPlannerROS" />
  <!-- cone_global_planner/ConeGlobalPlanner, carrot_planner/CarrotPlanner, global_planner/GlobalPlanner, navfn/NavfnROS -->
  <arg name="global_planner" default="global_planner/GlobalPlanner" />
  <arg name="model" />
  
  <!-- SLAM: Gmapping -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" args="-d $(find gmapping)" >
<!--    <param name="scan" value="/eufs/scan" />-->
    <rosparam file="$(find estimation_common)/config/$(arg model)/gmapping_params.yaml" command="load" />
  </node>

  <!-- MoveBase -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="$(arg local_planner)"/>
    <param name="base_global_planner" value="$(arg global_planner)" />
    
    <rosparam file="$(find estimation_common)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find estimation_common)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find estimation_common)/config/$(arg model)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find estimation_common)/config/$(arg model)/global_costmap_params.yaml" command="load" />
<!--    <rosparam file="$(find estimation_common)/config/$(arg model)/global_planner_params.yaml" command="load" />-->
    <rosparam file="$(find estimation_common)/config/$(arg model)/teb_local_planner_params.yaml" command="load" if="$(eval local_planner == 'teb_local_planner/TebLocalPlannerROS')" />
  </node>
</launch>

