<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true" />
    <env name="GAZEBO_MODEL_PATH" value="$(find simulation)"/>
    <env name="GAZEBO_RESOURCE_PATH" value="$(find simulation)"/>
    <!-- replace the name(e.g. skidpad) with takis/skidpad/small_track/acceleration-->
    <arg name="world_name" default="worlds/small_track.world" />
    <arg name="model" default="$(find robot)/urdf/robot.xacro" />

		<!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/><!-- set to true to open gazebo-->
      <arg name="headless" value="false"/>
      <arg name="recording" value="false"/>
      <arg name="debug" value="false"/>
    </include>
		
	  <!-- Robot -->
	  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
	    <param name="publish_frequency" type="double" value="50.0" />
	  </node>
	  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" 
	        args="-urdf -param robot_description -x 5.755832 -y -8.553579 -z 0.1 -Y -3.1 -model robot_model" 
	        respawn="false" output="screen" />
    
    <!-- RViz -->
	  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation)/rviz/navigation.rviz"/>
	  
	  <!-- Estimation -->
	  <include file="$(find estimation_common)/launch/estimation.launch" />
	
</launch>
