<?xml version="1.0"?>
<launch>
    <!-- MoveBaseSeq node launch and Points Sequence ROS Parameters Loading -->
    <!--Run move_base_seqs node-->
    <node pkg="simulation" type="move_base_seq.py" name="move_base_seq" output="screen">

        <!-- Load Sequence of Points (Cartesian Coordinates wrt "map" RF, in meters) -->
        <rosparam param="p_seq">[00.0,  00.0, 0, <!-- 1-->
                                 09.0, -00.5, 0, <!-- 2-->
                                 20.0, -01.2, 0, <!-- 3-->
                                 23.0, -03.0, 0, <!-- 4-->
                                 26.0, -08.0, 0, <!-- 5-->
                                 25.7, -14.0, 0, <!-- 6-->
                                 22.0, -18.5, 0, <!-- 7-->
                                 16.2, -19.5, 0, <!-- 8-->
                                 10.5, -16.0, 0, <!-- 9-->
                                 08.5, -13.0, 0, <!--10-->
                                 09.3, -06.5, 0, <!--11-->
                                 12.5, -03.2, 0, <!--12-->
                                 17.0, -1.25, 0] <!--13-->
        </rosparam>
        <!-- Load Sequence of Desired Yaw Angles (no rotations around x and y axes) in degrees-->
        <rosparam param="yea_seq">[0,358,355,310,290,255,190,175,130,95,70,60,358]</rosparam>
                               <!--1, 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 ,10,11,12, 13-->
    </node>

</launch>
